{% extends "base.html" %}
{% block title %}Hipcooks: About Monika{% endblock %}
{% block content %}
<style>
    #monika_name {
        font-size: 20px;
    }

    #monika_bio {
        font-size: 16px;
    }
</style>
<div class="row">
    <div class="col-sm-3">
        {% include 'about_sidebar.html' %}
    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="JandaQuickNote-normal" id="monika_name">
                <img src="/static/img/jacks1.png" class="jacks">
                {{monika.user.first_name}} {{monika.user.last_name}}
            </div>
            <div id="monika_bio">
                {{monika.bio|safe}}
            </div>
        </div>
    </div>
    <div class="col-sm-4 text-center">
        <br>
        <img src="{{monika.pic_url}}">
    </div>
</div>
<br>
{% endblock %}
