{% extends "base.html" %}
{% block title %}Hipcooks: Cancel Class{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        {% include 'classes_sidebar.html' %}
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-11">
                <h3 class="JandaQuickNote-normal">
                    Thanks for letting us know. Your reservation(s) have been removed from the class roster.<br>
                    <br>
                    Recipes have been sent, and we hope to see you another time.
                </h3>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
