{% extends "/base.html" %}
{% from "/macros.html" import div_field %}
{% block title %}Hipcooks: Forgot Password{% endblock %}
{% block content %}
<style>
    #sidebar_div {
        width: 229px;
        display: inline-block;
        float: left;
    }

    #content_div {
        width: 850px;
        padding-left: 5px;
        display: inline-block;
    }
    #forgot_button {
        float: right;
        margin-right: 48px;
    }
    #forgot_input input {
        border-color: #03ABD0;
        border-radius: 0;
    }
</style>
<div class="row">
    <div class="col-sm-3" id="sidebar_div">
        {% include 'sidebar.html' %}
    </div>
    <div class="col-sm-9" id="content_div">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                <br><br>
                <span class="JandaQuickNote-normal text24">Forgot Password : Returning Cooks</span>
                <br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form method="POST" class="form-horizontal">
                    <div id="forgot_input" class="uppercase blue_text">
                        {{form.csrf_token}}
                        {{div_field(form.email)}}
                    </div>
                    <br>
                    <input type=submit id="forgot_button" value="Get Password" class="form_button">
                </form>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
