{% extends "base.html" %}
{% block title %}Hipcooks: Forgot Password{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        {% include 'classes_sidebar.html' %}
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-10 text-center">
                <br><br>
                You will receive an email shortly with a password reminder!
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <br><br><br><br><br>
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
