{% extends "/base.html" %}
{% from "/macros.html" import div_field %}
{% block title %}Hipcooks: Reset Password{% endblock %}
{% block content %}
<style>
    #sidebar_div {
        width: 229px;
        display: inline-block;
        float: left;
    }

    #content_div {
        width: 850px;
        padding-left: 5px;
        display: inline-block;
    }
</style>
<div class="row">
    <div class="col-sm-3" id="sidebar_div">
        {% include 'sidebar.html' %}
    </div>
    <div class="col-sm-9" id="content_div">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="JandaQuickNote-normal">Reset Password</h2>
                <p>
                    Enter your new password here
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <form method="POST" class="form-horizontal">
                    <div class="form_box">
                        {{form.csrf_token}}
                        {{div_field(form.raw_password)}}
                        {{div_field(form.raw_password_confirm)}}
                    </div>
                    <input type=submit value="Reset" class="form_button pull-right">
                </form>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
