{% extends "base.html" %}
{% block title %}Hipcooks: Forgot Password{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        {% include 'classes_sidebar.html' %}
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="JandaQuickNote-normal">
                    Your password has been updated
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <img src="/static/img/forgot_password.jpg">
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
