{% extends "/admin/base.html" %}
{% block title %}Gift Certificate Block Edit{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css">
<script src="/static/js/bootbox.min.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script>
$(function() {

  $(".date").datepicker({
      format: "mm/dd/yyyy",
      autoclose: true,
      startDate: new Date()
  });

  $('#delete').click(function(e) {
    bootbox.confirm("Are you sure?", function(result) {
      if (result === true) {
        $('#form').append('<input type="hidden" name="delete" value="Delete" /> ');
        $('#form')[0].submit();
      }
    });
  });

});
</script>
{% endblock %}
{% block content %}
<div class="container add-edit-page">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row add-edit">
              <h3 class="hipcooks-script">Add/Edit Gift Certificate Block</h3>
                <form method="POST" enctype=multipart/form-data class="add-edit" id="form">
                    {% for field in form %}
                        {% if field.name == "csrf_token" %}
                            {{field}}
                        {% else %}
                            {% if field.errors|length> 0 %}
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="text-danger">{{field.errors[0]}}</span>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-2">
                                    {{field.label(class_="control-label")}}
                                </div>
                                <div class="col-md-3">
                                    {{field(class_="form-control")}}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-md-2 ">
                        <input class="btn btn-primary btn-sm" type="submit" value="Save">
                        <a class="delete-link" id="delete" name="delete" value="Delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
