{% extends "admin/base.html" %}
{% block header %}{% endblock %}
{% block content %}
<!--div class="container">
    <!--div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Login</div>
      </div>
      <div class="panel-body"-->
        <form method="POST">
            <br /><br /><br /><br /><br /><br /><br /><br />
            <CENTER>
                <img src="../../static/img/HipcooksLogin.png">
                <br /><br />
                <table border=0 cellpadding="10">
                    {% for field in form %}
                    {% if field.name == "csrf_token" %}
                    {{field}}
                    {% else %}
                    {% if field.errors|length > 0 %}<tr><td>{{field.errors[0]}}</td></tr>{% endif %}
                    <tr><td>{{field.label}}&nbsp;&nbsp;</td><td>&nbsp;{{field}}</td></tr>
                    {% endif %}
                    {% endfor %}
                    <tr><td></td><td><br />&nbsp;<input class="btn btn-primary btn-sm" type="submit" value="Login"></td></tr>
                </table>
                {% if error %}
                    <br><br><strong>Error:</strong> {{ error }}
                {% endif %}
            </CENTER>
        </form>
      <!--/div>
    </div>
</div-->
{% endblock %}
