{% extends "/admin/base.html" %}
{% import "/macros.html" as macros %}
{% block title %}Products{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/admin-sm-table-print.css">
<script src="/static/js/admin-styles.js"></script>
<style>
    .menu-list {
        padding-left: 15px;
    }
    table {
      width: 100% !important;
    }
</style>
<script>
  $(function() {
      $("div.search button").click(function() {
          var search_text = $("div.search input").val();
          window.location.href = "{{url_for('.product_list')}}?q=" + search_text;
      });

      $("div.search input").keypress(function(e) {
          if (e.which == 13) {
              e.preventDefault();
              $("div.search button").click();
          }
      });

      $("#product_delete").click(function(e) {
          if (!confirm("Are you sure you want to delete this product?")) {
              e.preventDefault();
          } else {
            $('#form').submit();
          }
      });
  });
  sortButtonMacro();

  $(document).ready(function() {
      if (window.location.href.indexOf('?q=') > -1) {
        $("#back-all").show();
      }
  });
</script>
<form method="POST" action="{{url_for('.product_delete')}}" id="form">
    <div class="container-fluid">
        <div class="row hipcooks-data-header">
            <div class="row hipcooks-title">
                <div class="col-md-12">
                    <h2 class="hipcooks-script">Products</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-8 button-row">
                    {% if user.can_update('product') %}
                    <div>
                      <a class="script-link-btn noprint" role="link" href="{{url_for('.product_edit')}}">Add New Product</a> |
                      <a class="script-link-btn noprint" type="submit" value="Delete Selected" id="product_delete">Delete Selected</a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-3 col-md-4 search-top noprint form-inline">
                    <a class="script-link-btn noprint" role="link" href="{{url_for('.product_list')}}" id="back-all" style="display: none;"><i class="glyphicon glyphicon-chevron-left"></i>Back to All</a>
                    <div class="input-group search">
                        <input class="form-control" placeholder="Search..." type="text" value="{{searched_field}}">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">&nbsp;<i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hipcooks-data-wrapper">
            <div class="col-sm-8 hipcooks-data hipcooks-data-no-sidebar">
                <!--div class="data-inner auto-width"-->
                    <table class="table table-striped table-hover" width=635>
                        <thead width=635>
                            <tr>
                                {% set page = pagination.page %}
                                <th width=150>{{ macros.column_sort_toggle("Name", ".product_list", "name", page=page) }}</th>
                                <th width=40>{{ macros.column_sort_toggle("Type", ".product_list", "type", page=page) }}</th>
                                <th width=100>Thumbnail</th>
                                <th width=50>{{ macros.column_sort_toggle("Price", ".product_list", "price", page=page) }}</th>
                                <th width=115>{{ macros.column_sort_toggle("Available to Ship", ".product_list", "available_to_ship", page=page) }}</th>
                                <th width=100>{{ macros.column_sort_toggle("Cost to Ship", ".product_list", "cost_to_ship", page=page) }}</th>
                                <th width=30>Row</th>
                                <th width=40>Column</th>
                                <th width=10>&nbsp;</th>
                            </tr>
                        </thead>
                        {% for product in pagination.items %}
                        <tr>
                            <td width=150><a href="{{url_for('.product_edit', id=product.id)}}">{{product.name}}</a></td>
                            <td width=40>{{product.type}}</td>
                            <td width=100>{% if product.photo %}<img src="{{ product.photo.photo|thumbnail_path }}" />{% endif %}</td>
                            <td width=50>{{product.price}}</td>
                            <td width=115>{% if product.available_to_ship %}Yes{% else %}No{% endif %}</td>
                            <td width=100>{{product.cost_to_ship}}</td>
                            <td width=30>{{product.row}}</td>
                            <td width=40>{{product.column}}</td>
                            <td width=10><input name="products" value="{{product.id}}" type="checkbox" />
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {{ macros.render_pagination(pagination, "admin.product_list") }}
            </div>
        </div>
    </div>
</form>
{% endblock %}
